@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WinstonScriptRegular";
  src: url("/fonts/WinstonScriptRegular.ttf") format("truetype");
}


.font-custom-h {
  font-family: "WinstonScriptRegular", sans-serif;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.hover\:animate-wave:hover {
  animation: wave 1.5s ease-in-out infinite;
}